<div class="d-flex p-2 bd-highlight">
  <div class="p-2 bd-highlight">
    <a href="https://plnts.com/en">
      <img src="../../../assets/HorizontalBanner.PNG" alt="ADDS">
    </a>
  </div>
</div>

<div class="d-flex p-2 bd-highlight">
  <div class="p-2 flex-shrink-1 bd-highlight">
    <a href="https://en.wikipedia.org/wiki/French_cuisine">
      <img src="../../../assets/VerticalBanner.PNG" alt="ADDS">
    </a>
  </div>

  <div class="p-2 bd-highlight">
    <div class="col-lg-10 col-md-8 col-sm-6">
      <div>
        <h2>Proposition for you-proposition finded: {{pagination.totalItems}}</h2>
      </div>
      <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
        <div class="form-group">
          <label for="minAge">Minimum age</label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="minAge"
                [(ngModel)]="userParams.minAge" name="minAge">
        </div>

        <div class="form-group px-2">
          <label for="maxAge">Maximal age</label>
          <input type="number" class="form-control ml-1" style="width: 75px" id="maxAge"
          [(ngModel)]="userParams.maxAge" name="maxAge">
        </div>

        <div class="form-group px-2">
          <label for="gender">Gender</label>
          <select class="form-control ml-1" style="width: 130px" id="gender"
          [(ngModel)]="userParams.gender" name="gender">
            <option *ngFor="let gender of genderList" [value]="gender.value">
              {{gender.display}}
            </option>
          </select>
        </div>

        <div class="form-group px-2">
          <label for="zodiacSign">Zodiac Sign</label>
          <select class="form-control ml-1" style="width: 130px" id="zodiacSign"
          [(ngModel)]="userParams.zodiacSign" name="zodiacSign">
            <option *ngFor="let zodiacSign of zodiacSignList" [value]="zodiacSign.value">
              {{zodiacSign.display}}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Submit</button>
        <button type="button" class="btn btn-info" style="margin-left: 10px;" (click)="resetFilters()">Reset</button>


        <!-- <button btnRadio="lastActive" class="btn btn-primary" [(ngModel)]="userParams.orderBy" type="button"
        (click)="loadUsers()" style="margin-left: 10px;" name="orderBy">Last active</button>
        <button btnRadio="created" class="btn btn-primary"  [(ngModel)]="userParams.orderBy" type="button"
        (click)="loadUsers()" name="orderBy">Newest</button> -->
        <div class="btn-group">
          <button class="btn btn-primary" [(ngModel)]="userParams.orderBy"  btnRadio="lastActive" name="lastActive" >Last active</button>
          <button class="btn btn-primary" [(ngModel)]="userParams.orderBy"  btnRadio="created" name="created" >Newest</button>
       </div>
      </form>


    </div>
    <div class="d-flex flex-wrap">
      <div *ngFor="let user of users" class="p-2 bd-highlight">
        <app-user-card [user]="user"></app-user-card>
      </div>
    </div>
    <pagination [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"></pagination>

  </div>
</div>
