<div class="col sm-4">
  <h1>Profile edition</h1>
</div>
<div class="col sm-8">
  <div class="alert alert-info" *ngIf="editForm.dirty">
    <strong>Info:</strong>You have made changes. Any unsaved change will be
    lost!
  </div>
</div>
<div class="d-flex p-2 bd-highlight">
  <div class="p-2 bd-highlight pictureslot">
    <div class="card">
      <img class="card-img-top img-thumbnail" src="{{ photoUrl || '../../../../../../assets/User_Icon.PNG' }}" />
      <div class="card-body">
        <div>
          <strong>Name</strong>
          <p>{{ user.username }}</p>
        </div>
        <div>
          <strong>Gender</strong>
          <p>{{ user.gender }}</p>
        </div>
        <div>
          <strong>Age</strong>
          <p>{{ user.age }}</p>
        </div>
        <div>
          <strong>Zodiac Sign</strong>
          <p>{{ user.zodiacSign }}</p>
        </div>
        <div>
          <strong>City</strong>
          <p>{{ user.city }}</p>
        </div>
      </div>
      <div class="card-fotter">
        <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save changes</button>
      </div>
    </div>
  </div>
  <form #editForm="ngForm" (ngSubmit)="updateUser()" id="editForm">
    <div class="p-2 flex-grow-1 bd-highlight">
      <tabset class="user-tabset">
        <tab heading="About me" id="tab1">
          <div>
            <strong>Description</strong>
            <textarea
              class="form-control"
              rows="2"
              [(ngModel)]="user.description"
              name="description"
            ></textarea>
          </div>
          <div>
            <strong>Looking for</strong>
            <textarea
              class="form-control"
              rows="2"
              [(ngModel)]="user.lookingFor"
              name="lookingFor"
            ></textarea>
          </div>
          <div>
            <strong>Motto</strong>
            <textarea
              class="form-control"
              rows="2"
              [(ngModel)]="user.motto"
              name="motto"
            ></textarea>
          </div>
          <div>
            <strong>What friends tell about me</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.friendsDescribeMe"
              name="friendsDescribeMe"
            ></textarea>
          </div>
        </tab>
        <tab heading="Interests and hobby">
          <div>
            <strong>Interests</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.intrests"
              name="intrests"
            ></textarea>
          </div>
          <div>
            <strong>Free-time activities</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.freeTime"
              name="freeTime"
            ></textarea>
          </div>
          <div>
            <strong>Best films</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.films"
              name="films"
            ></textarea>
          </div>
          <div>
            <strong>Sports</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.sports"
              name="sports"
            ></textarea>
          </div>
          <div>
            <strong>Music</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.music"
              name="music"
            ></textarea>
          </div>
        </tab>
        <tab heading="Visual information">
          <div>
            <strong>Growth</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.growth"
              name="growth"
            ></textarea>
          </div>
          <div>
            <strong>Eye colour</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.eyeColour"
              name="eyeColour"
            ></textarea>
          </div>
          <div>
            <strong>Skin colour</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.skinColour"
              name="skinColour"
            ></textarea>
          </div>
          <div>
            <strong>Martial status</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.martialStatus"
              name="martialStatus"
            ></textarea>
          </div>
        </tab>

        <tab heading="My steps of life">
          <div>
            <strong>Education</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.education"
              name="education"
            ></textarea>
          </div>
          <div>
            <strong>Profession</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.profession"
              name="profession"
            ></textarea>
          </div>
          <div>
            <strong>Children</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.children"
              name="children"
            ></textarea>
          </div>
          <div>
            <strong>Languages</strong>
            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="user.languages"
              name="languages"
            ></textarea>
          </div>
        </tab>
        <tab heading="Picture gallery">
          <div>
            <app-photos [photos]="user.photos" (getUserPhotoChange)="updateMainPhoto($event)"></app-photos>
          </div>
        </tab>
      </tabset>
      <div class="tab-panel"></div>
    </div>
  </form>
</div>
